/*
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>
#include "radino40_usbstick-pinctrl.dtsi"

/ {
	model = "radino40 DW1000 USB-Stick";
	compatible = "in-circuit,radino40_usbstick";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	aliases {
		led0 = &led_gr;
		led1 = &led_red;
		led2 = &led_bl;
		sw0 = &btn_1;
	};

	leds {
		compatible = "gpio-leds";

		led_red: led-red {
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		};

		led_gr: led-gr {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		};

		led_bl: led-bl {
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		btn_1: button-1 {
			gpios = <&gpio0 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		};
	};
};

&spi3 {
	status = "okay";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default","sleep";
	cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

	dw1000: dw1000@0 {
		reg = <0>;
		compatible = "qorvo,dw1000";
		spi-max-frequency = <2000000>;
		int-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
		wakeup-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default","sleep";
};

&gpiote {
	status = "okay";
};

&uicr {
	nfct-pins-as-gpios;
	gpio-as-nreset;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
	// gpio-reserved-ranges = <1 5>;
};

// enable native USB if R3/R4 are mounted on the board
zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "disabled";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};